.datePicker {
	min-width: 25%;
	max-width: 35%;
}

.rair-attention {
		color:red;
}

.b-panelgrid td {
    padding: 8px 20px ;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

.greenStyle {
	background-color: #90EE90;

}